---
import "@fontsource/fira-code";

import "../styles/global.css";

import { Icon } from "astro-icon";

import { social } from "../constants/social";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex w-full">
      <div class="sm:flex hidden flex-col items-center ml-4">
        <div class="bg-gray-200 w-[1px] h-[198px]"></div>
        <ul>
          {
            social.map(({ label, icon, url }) => (
              <li class="mt-2">
                <a href={url} target="_blank" class="group" aria-label={label}>
                  <Icon
                    name={icon}
                    class="text-gray-200 w-8 h-8 group-hover:text-gray-500 transition-all"
                    focusable="false"
                  />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="w-[1024px] m-auto md:p-8 p-4">
        <slot />
      </div>
    </div>
  </body>
</html>
